* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #D8D8D8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-gray-bar {
  height: 150px;
  width: 100vw;
  background-color: #444;
}


.middle-white {
  background-color: #EFEFEF;
  width: 70%;
  height: calc(100vh - 150px);
  display:flex;
  justify-content: center;
  align-items: flex-end;
}

.bottom-black {
  height: 100px;
  width: 100%;
  background-color: black;
  
}